.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.containerGrid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-size: cover;
    padding-top: 70px;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px;
}

.order{
    color: rgba(0, 0, 0, 0.407);
    text-align: center;
}

.aside{
    background-color: gray;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
}

.orderDiv{
    display: flex;
    justify-content: center;
}

.select{
    background-color: white;
    font-family: 'Silkscreen', cursive;
    color: black;
    height: 40px;
    width: 150px;
    font-size: smaller;
    border: none;
    transition: background-color .5s;
    margin-right: 20px;
}

.divReset{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reset{
    background-color: gray;
    font-family: 'Silkscreen', cursive;
    color: white;
    height: 40px;
    width: 150px;
    font-size: smaller;
    border-radius: 20px;
    border: none;
    transition: background-color .5s;
    margin-right: 20px;
    border: 2px solid white;
}

.reset:hover{
    color:white;
    background-color: rgb(34, 34, 34) ;
    cursor: pointer;
}